__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.env
.venv/
venv/
ENV/
env/
.stamina/


.vscode/
.idea/

db.sqlite3
*.sqlite3
*.log

**/migrations/
!**/migrations/__init__.py

.mypy_cache/
.pyright/

.DS_Store
Thumbs.db
